%h1 Forgot Password

=form_tag main_view_profile_path, :method=>:post do  #going to change the the path

  =label :user, :email_address
  =text_field :user, :email
  =label :user, :password
  = password_field :user, :password

  %br/
  %br/

  = submit_tag "submit", :id => "submit_button"


