%h1 Sign in as a

=form_tag new_student_session_path, :method=>:get do
  = submit_tag "Student", :id => "create_account_button"
%br
=form_tag new_faculty_member_session_path, :method=>:post do
  = submit_tag "Faculty", :id => "create_account_button"
%br
= form_tag main_index_path, :method => 'post', :class => 'form form-inline' do
  = submit_tag 'Back'
