%h1 Sign Up As A...


=form_tag new_student_registration_path, :method=>:get do
  = submit_tag "Student", :id => "create_account_button"
%br
=form_tag new_faculty_member_registration_path, :method=>:get do
  = submit_tag "Faculty", :id => "create_account_button"
-if student_signed_in?
  -controller.redirect_to view_profile_path
-if faculty_member_signed_in?
  -controller.redirect_to root_path

