%h1 Sign Up As A...


=form_tag main_sign_up_path, :method=>:post do
  = submit_tag "Student", :id => "create_account_button"
=form_tag main_sign_up_faculty_path, :method=>:post do
  = submit_tag "Faculty", :id => "create_account_button"
%br/
%br/
= form_tag main_index_path, :method => :post do
  = submit_tag "Return", :id => "return_to_welcome"
