-#%h1 Welcome
-#= form_tag main_login_path, :method => :post do
-#  = submit_tag "Login", :id => "login_button"
-#= form_tag main_sign_up_path, :method => :post do
-#  = submit_tag "Sign Up", :id => "sign_up_button"
