%h1 Welcome
= form_tag main_login_path, :method => :post do
  = submit_tag "login", :id => "login_button"
= form_tag main_sign_up_path, :method => :post do
  = submit_tag "sign_up", :id => "sign_up_button"
