%h1 Welcome
= form_tag main_general_login_path, :method => :post do
  = submit_tag "Login", :id => "login_button"
= form_tag main_general_sign_up_path, :method => :post do
  = submit_tag "Sign Up", :id => "sign_up_button"
-if student_signed_in?
  session[:experience_count]=1
  -controller.redirect_to view_profile_path
-if faculty_member_signed_in?
  -if session[:new_account] ==true
    -flash[:notice] = "The faculty member you created has been sent an email with registration information"
    -session[:new_account]=false
  -controller.redirect_to faculty_profile_path
