%h1 Intermediate page

=form_tag main_index_path, :method=>:post do
   = submit_tag "Home page", :id=> "home_page"
-# = form_tag main_sign_up_path, :method => :post do
-#    = submit_tag "Back to Sign up", :id => "return"
