%h1 Log In


=form_tag main_intermediate_login_path, :method=>:post do
  =label :user, :email_address
  =text_field :user, :email ,:id=> 'email'
  =label :user, :password
  =password_field :user, :password, :id=> 'password'

  %br/
  %br/

  = submit_tag "Login", :id => "login_button"

  %br/
  %br/
= link_to 'Forgot Password', reset_password_path
= form_tag main_index_path, :method => :post do
  = submit_tag "Return", :id => "return_to_welcome"
