%h1 Log In


=form_tag main_intermediate_login_path, :method=>:post do
  =label :user, :email_address
  =text_field :user, :email ,:id=> 'email'
  =label :user, :password
  = password_field :user, :password, :id=> 'password'

  %br/
  %br/

  = submit_tag "Login", :id => "login_button"

  %br/
  %br/

=form_tag main_reset_password_one_path do
  = submit_tag 'Forgot Password', :id => 'Forgot Password Button'
