%h1 Sign Up

=form_tag main_intermediate_sign_up_path, :method=>:post do
  =label :label, :first_name
  =text_field :user, :first_name
  =label :label, :last_name
  =text_field :user, :last_name
  =label :label, :email_address
  =text_field :user, :email
  =label :label, :password
  = password_field :user, :password


  %br/
  %br/

  = submit_tag "Create Account", :id => "create_account_button"
