%h2 To Sign up as a faculty member please contact your university's department chair
%h2 (For the graders conveniance Evan and Kian, Please use the below credentials to log in as a department chair at the University of Iowa
%br
%h4 email: seltfinalproject@gmail.com
%h4 password: 123456
= form_tag main_general_sign_up_path, :method => :post do
  = submit_tag "Back", :id => "back_to_sign_up"
