<h1>Profile</h1>
<div class="profile">
  <div class="profile_features">
    <br>
    <form method="post" action="index">
      <br>
      <div class="row">
        <label class="label">GRE</label>
        <label class="label">TOEFL</label>
        <label class="label">CAPA</label>
      </div>
      <br>
      <div class="row">
        <input value="" class="field">
        <input value="" class="field">
        <input value="" class="field">
      </div>
      <br>
      <div class="row">
        <label class="label">Intrested Major</label>
        <label class="label">Tearm</label>
        <label class="label">Year</label>
      </div>
      <br>
      <div class="row">
        <input list="majors" class="field">
        <datalist id="majors">
          <option value="Mechanical Engineering">
          <option value="Computer Science Engineering">
          <option value="Biomedical Engineering">
          <option value="Industrial Engineering">
          <option value="Civil Engineering">
        </datalist>
        <input list="term" class="field">
        <datalist id="term" >
          <option value="Fall">
          <option value="Spring">
          <option value="Summer">
        </datalist>
        <input list="year" class="field">
        <datalist id="year">
          <option value="2022">
          <option value="2023">
          <option value="2024">
        </datalist>
      </div>
      <br>
      <button class = "btn">Edit profile</button>
    </form>
  </div>
  <div class="profile_features2">
    <div class="vl"></div>
  </div>
  <div class="profile_features">
    <h1>Universities Applied</h1>
    <h3>Add University</h3>
    <br>
    <input class="field2">
    <button class="btn">Add</button>
  </div>
</div>

