<h2>Forgot your password?</h2>
<form method="post" action="<%= password_reset_path %>">

  <br>
    <label >Email</label>
    <input id="email" placeholder="email" type="text">
  </br>

  <br>

    <input id="submit" type="submit" type="reset_password">
  </br>


</form>





