<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You've been invited to ApplicationHub</h1>
<p>
  Hello and welcome to ApplicationHub!
  <br>
  To set up your account please click the link below: <%= @link %>
  <br>
</p>
<p>
</body>
</html>
