/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.field{
  border-radius: 30px;
  width: 80%;
  float: left;
  margin-right: 42px;
}
.field2{
  border-radius: 30px;
  width: 40%;
  float: left;
  margin-right: 42px;
}
.label{
  margin-left: 50px;
  float: left;
  width: 40%;
}
.row{
  display: flex;
}
.row1{
  display: flex;
}
.marg{
  margin-left: 2vw;
}
.profile:after{
  content: "";
  display: table;
  clear: both;
}
.profile_features{
  float: left;
  width: 48%;

}
.profile_features2{
  float: left;
  width: 1%;
}

.btn{
  border-radius: 30px;
  width: 100px;
  float: left;
  margin-left: 8px;
  background-color: orange;
}
.btn:hover{
  background-color: #ff9900;
}
.btn:active{
  background-color: #be5602;
}
.vl {
  border-left: 6px solid grey;
  height: 100vh;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
