<h1>Profile</h1>
<h2>Hi Faculty Name</h2>
<form method="post" action="<%= main_index_path %>">
  <input type="submit" value="logout">
</form>
<div class="profile">
  <div class="profile_features">
    <br>
    <br>
    <div class="row">
      <label class="label">Name</label>
      <label class="label">Department</label>
    </div>
    <br>
    <div class="row">
      <input value="Faculty Name" class="field" name="gre" readonly>
      <input value="Faculty Department" class="field" name="toefl" readonly>
    </div>
    <br>
    <h2>Work experience</h2>
    <br>
    <div class="row">
      <label class="label">Company name</label>
      <label class="label">Job title</label>
      <label class="label">Description</label>
      <label class="label">from</label>
      <label class="label">to</label>
    </div>
    <br>
    <div class="row">
      <input class="field2" name="company" readonly>
      <input class="field2" name="position" readonly>
      <input class="field2" name="description" readonly>
      <input class="field2" name="from" readonly>
      <input class="field2" name="to" readonly>
    </div>
    <br>
    <br>
    <input type="submit" class="btn" value="Save Profile">
    <br>
    <br>
  </div>
</div>

