<h1>Profile</h1>
<h2>Hi <%=@user_name %></h2>
<form method="post" action="<%= main_index_path %>">
  <input type="submit" value="logout">
</form>
<div class="profile">
  <div class="profile_features">
    <br>

    <br>
    <div class="row">
      <label class="label">Name</label>
      <label class="label">Department</label>
    </div>
    <br>
    <div class="row">
      <label value=<%=@name%> class="field" name="gre" readonly/>
      <label value=<%@department%> class="field" name="toefl" readonly/>
    </div>
    <br>
    <input type="submit" class="btn" value="Edit Profile">
  </div>
</div>

<form method="get" action="<%= admission_decision_path(@faculty, professor_id: @faculty.id) %>">
  <input type="submit" value="Admission Review">
</form>


