<h1>Profile</h1>
<h2>Hi <%=@display_name %></h2>
<form method="post" action="<%= main_index_path %>">
</form>
<div class="profile">
  <div class="profile_features">
    <br>
    <div class="row">
      <label class="label">Name: <%=@name%></label>
      <label class="label">Department: <%=@department.name%></label>
    </div>
    <br>
  </div>
</div>




